.container{
    text-align: center;
    position: relative;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 200px;
}

.container span{
    text-transform: uppercase;
    display: block;
}

.splash-title{
    color: white;
    font-size: x-large;
    font-weight: 700;
    letter-spacing: 10px;
    margin-bottom: 20px;
    position: relative;
    background: black;
    animation: splashscreen 3s 1;
    padding: 10px
}

.splash-subtitle{
    text-align: center;
    font-size: large;
    color: lightcyan;
}

.splash-arrow{
    animation: arrownudge 6s 1;
    animation-delay: 5s;
}

@keyframes splashscreen{
    0%{
        color: black;
        margin-bottom: -40px;
    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}

@keyframes arrownudge{
    0%{
        color: black;
    }
    50%{
        color: grey;
    }
    75%{
        color: whitesmoke;
    }
}

.spacing{
    height: 50vh;
}

.about-title{
    padding: 10px;
}

.section{
    color: white;
    text-align: center;
    font-size: large;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.6;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.footer{
    width: 100%;
    height: 100px;
    background-color: #333399;
    position: relative;
    left: 0;
    bottom: -500;
    text-align: center;
    position: absolute;
}

.logo{
    padding: 25px;
    height: 50%;
}