.container{
    text-align: center;
    position: relative;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 200px;
}

.container span{
    text-transform: uppercase;
    display: block;
}

.splash-title{
    color: white;
    font-size: x-large;
    font-weight: 700;
    letter-spacing: 2vh;
    margin-bottom: 5vh;
    position: relative;
    background: black;
    animation: splashscreen 7s 1;
    padding: 1vh;
}

.splash-subtitle{
    text-align: center;
    font-size: large;
    color: lightcyan;
}

.splash-arrow{
    animation: arrownudge 10s 1;
    animation-delay: 10s;
}

@keyframes splashscreen{
    0%{
        color: black;
        margin-bottom: -40px;
    }
    20%{
        color: black;
        margin-bottom: -40px;
    }
    70%{
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}

@keyframes arrownudge{
    0%{
        color: black;
    }
    50%{
        color: grey;
    }
    75%{
        color: whitesmoke;
    }
}

.spacing-large{
    height: 50vh;
}

.spacing-small{
    height: 25vh;
}

.title{
    padding: 3vh;
}

.paragraph{
    padding: 1vh;
    padding-left: 10vh;
    padding-right: 10vh;
}

.section{
    color: white;
    text-align: center;
    font-size: large;
    padding-top: 40px;
    padding-bottom: 20px;
    line-height: 1.6;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.column-full{
    text-align: center;
    position: relative;
    float: left;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.column-media{
    height: 80vh;
    text-align: center;
    float: left;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

.column-projects{
    height: 100vh;
    text-align: center;
    float: left;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }

.footer{
    width: 100%;
    height: 10vh;
    background-color: #333399;
    position: relative;
    left: 0;
    text-align: center;
    position: absolute;
}

.logo{
    padding: 2vh;
    height: 40%;
}

@media only screen and (max-width:1000px) {
    /* For tablets: */
    .container {
      width: 80%;
      padding: 0;
    }
    .section {
      width: 100%;
    }
}
@media only screen and (max-width:800px) {
    /* For mobile phones: */
    .container {
        width: 100%;
    }
    .section {
        width: 100%;
    }
    .column-media {
        width: 100%;
    }
    .column-projects{
        width: 100%;
    }

}